.nav-link {
  transition: background-color 0.3s;
  transform: scale(1);
}

.nav-link:hover {
  color: #fff;
  transform: scale(1.2);
}

.course-card {
  transition: background-color 0.3s;
  transform: scale(1);
}

.course-card:hover {
  background-color: #40534c;
  transform: scale(1.2);
}
