.nav-link {
  transition: background-color 0.3s;
  transform: scale(1);
}

.nav-link:hover {
  color: #fff;
  transform: scale(1.2);
}

.course-card {
  transition: background-color 0.3s;
  transform: scale(1);
}

.course-card:hover {
  background-color: #40534c;
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .nav-links-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    width: 100%;
  }

  .nav-links-container .nav-link {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .nav-link1 {
    grid-column: 1;
    grid-row: 1;
  }

  .nav-link2 {
    grid-column: 2;
    grid-row: 2;
  }

  .nav-link3 {
    grid-column: 3;
    grid-row: 3;
  }

  .nav-link4 {
    grid-column: 4;
    grid-row: 4;
  }
}
